@import "../../../node_modules/picnic/picnic.min.css";
@import "./variables";


body {
  background: url('../img/bg.png')
}

.content {
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 4em;
}
