<app-navbar></app-navbar>
<div class="content">
  <app-category-selector></app-category-selector>
  <article class="card">
    <header>
      <button>Category</button>
      <button class="dangerous">Hate</button>
    </header>
    <footer>
        <span class="button stack">
          Home - <small>This is test subtitle</small>
          <span style="float: right;">No se</span>
        </span>
        <span class="button stack">Plugins</span>
        <span class="button stack">Documentation</span>
        <span class="button stack">Test</span>
    </footer>
  </article>

</div>
